.detailClickabeDiv {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}


.detailsContainer {
    display: flex;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #050f1aaf;
    backdrop-filter: blur(5px);

    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    gap: 5px;
    position: absolute;
    right: 0px;
    transition: 350ms all ease-in-out;

    transform: translateX(100%);

    @media screen and (max-width: 900px) {
        width: 80%;
    }

    .detailLine {
        height: 1px;
        width: 100%;
        display: flex;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .detailSection1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: auto;

        .detailAvatar {
            display: flex;
            margin: auto;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: flex;
            }
        }

        h4 {

            width: 100%;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: capitalize;

            letter-spacing: 2px;
        }

        .statusQuote {
            font-size: 10px;
            display: flex;
            margin: auto;
            width: 100%;
            text-align: center;
            color: white;
            height: 30px;
            padding: 0px 10px;
        }
    }

    .detailSection2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
        overflow-y: scroll;
        padding: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        p {
            color: white;
        }

        .detailImgsFileConatiner {
            justify-content: space-evenly;
            height: auto;
            gap: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;


            .detailImgsFile {
                height: 100px;
                width: 100px;
                display: flex;
                border-radius: 5px;
                /* overflow: hidden; */
                justify-content: center;
                align-items: center;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    object-fit: cover;
                }
            }
        }



    }

    .detailSection3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 10px;

        padding: 10px;

        button {
            width: 100%;
            height: 25px;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: flex-start;
            border: none;
            color: white;
            text-transform: capitalize;
            cursor: pointer;
            transition: 350ms all ease;
            position: relative;
            background-color: rgba(0, 0, 0, 0.545);

            h5 {
                height: 100%;
                width: auto;
                position: relative;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
            }

            &::after {
                content: "";
                height: 100%;
                width: 0%;
                position: absolute;
                transition: 350ms all ease;
                display: flex;
            }

            &:nth-child(1)::after {
                background-color: red;
            }

            &:nth-child(2)::after {
                background-color: rgb(44, 130, 243);
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.detailVisible {
    transform: translateX(0%);
}