.listContainer {
    height: 100%;
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    color: white;


    .userHeaderWrapper {
        display: flex;
        width: 100%;
        height: auto;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.384);
        padding: 10px;

        .userDetail {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .user {
                display: flex;
                gap: 5px;
                overflow: hidden;
                border-radius: 20%;
                height: 50px;
                width: 50px;

                .userImage {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    object-fit: cover;
                }
            }
        }

        .iconsWrapper {
            background-color: red;
        }

    }

    .searchSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;

        .chatSearchWrapper {
            border-radius: 5px;
            display: flex;

            height: 30px;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;

            background-color: rgba(0, 0, 0, 0.384);
            overflow: hidden;

            .searchInput {
                display: flex;
                width: 100%;
                height: 100%;

                background-color: transparent;
                border: none;
                outline: none;
                padding: 10px;
                font-size: 10PX;
                color: white;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.253);
                }
            }
        }

        .addFriendWrapper {
            height: 30px;
            width: 30px;
            display: flex;
            background-color: rgba(0, 0, 0, 0.384);
            border-radius: 5px;
            justify-content: center;
            align-items: center;

            button {
                color: white;
                background-color: transparent;
                border: none;
                font-size: 10px;
                height: 100%;
                width: 100;

                cursor: pointer;
            }
        }
    }



    .chatListContainer {
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.384);
        padding: 10px;

        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .ChatListWrapper {
            display: flex;
            width: 100%;
            height: auto;
            gap: 20px;
            padding: 20px 0px;
            align-items: flex-start;
            justify-content: flex-start;

            border-bottom: 1px solid rgba(255, 255, 255, 0.295);

            &:nth-last-child(1) {
                border-bottom: 0px solid rgba(255, 255, 255, 0.295);

            }

            &:nth-child(1) {
                padding-top: 10px;
            }

            .userFriend {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                .avatarWrapper {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    overflow: hidden;
                    border-radius: 50%;



                    .friendAvatar {
                        display: flex;
                        height: 100%;
                        width: 100%;

                        object-fit: cover;
                    }
                }
            }

            .chatMessageWrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;

                p {
                    font-size: 10px;
                    width: 100%;
                }
            }
        }

    }
}