.listContainer {
    height: 100%;
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    color: white;
    position: relative;


    .userHeaderWrapper {
        display: flex;
        width: 100%;
        height: auto;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.384);
        padding: 10px;

        .userDetail {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .user {
                display: flex;
                gap: 5px;
                overflow: hidden;
                border-radius: 20%;
                height: 50px;
                width: 50px;

                .userImage {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    object-fit: cover;
                }
            }
        }



    }

    .iconsWrapper {
        flex: 1;
        gap: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        .headerIcon {
            background-color: transparent;
            border: none;
            color: white;
        }
    }

    .searchSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;

        .chatSearchWrapper {
            border-radius: 5px;
            display: flex;

            height: 30px;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;

            background-color: rgba(0, 0, 0, 0.384);
            overflow: hidden;

            .searchInput {
                display: flex;
                width: 100%;
                height: 100%;

                background-color: transparent;
                border: none;
                outline: none;
                padding: 10px;
                font-size: 10PX;
                color: white;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.253);
                }
            }
        }

        .addFriendWrapper {
            height: 30px;
            width: 30px;
            display: flex;
            background-color: rgba(0, 0, 0, 0.384);
            border-radius: 5px;
            justify-content: center;
            align-items: center;

            button {
                color: white;
                background-color: transparent;
                border: none;
                font-size: 10px;
                height: 100%;
                width: 100;

                cursor: pointer;
            }
        }
    }



    .chatListContainer {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.384);

        overflow-y: scroll;
        overflow: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        .ChatListWrapper {
            display: flex;
            width: 100%;
            height: auto;
            gap: 20px;
            padding: 10px;
            align-items: flex-start;
            justify-content: flex-start;

            border-bottom: 1px solid rgba(255, 255, 255, 0.295);

            &:nth-last-child(1) {
                border-bottom: 0px solid rgba(255, 255, 255, 0.295);
            }

            &:nth-child(1) {
                padding-top: 10px;
            }

            .userFriend {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;

                .avatarWrapper {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    overflow: hidden;
                    border-radius: 50%;



                    .friendAvatar {
                        display: flex;
                        height: 100%;
                        width: 100%;

                        object-fit: cover;
                    }
                }
            }

            .chatMessageWrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;

                p {
                    font-size: 10px;
                    width: 100%;
                }
            }
        }


        .addFriendContainer {
            height: 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            position: absolute;
            top: 0px;


            .addFriendResultWrapper {
                transition: 350ms all ease;
                transform: translateX(0%);
                width: 100%;
                height: auto;
                gap: 10px;
                display: flex;
                flex-direction: column;
                backdrop-filter: blur(5px);

                .newSearchContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    height: 50px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.532);

                    input {
                        display: flex;
                        flex: 1;
                        background-color: transparent;
                        border: 1px solid white;
                        padding: 5px;
                        border-radius: 5px;

                        &::placeholder {
                            color: rgb(190, 190, 190);
                        }
                    }

                    button {
                        background-color: transparent;
                        cursor: pointer;
                        border: none;
                        color: white;
                        height: 100%;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }

                .newfriendSearchResult {
                    justify-content: flex-start;
                    gap: 10px;
                    align-items: center;
                    display: flex;
                    height: 350px;
                    width: 100%;
                    flex-direction: column;

                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .newFriendResult {
                        padding: 10px;
                        border-radius: 0px 10px 10px 0px;
                        background-color: rgba(0, 0, 0, 0.532);

                        justify-content: flex-start;
                        gap: 10px;
                        align-items: center;
                        display: flex;
                        height: auto;
                        width: 100%;

                        .newfriendInfo {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 10px;
                            width: 100%;

                            .newFriendImageWrapper {
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                overflow: hidden;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            h4 {
                                text-transform: capitalize;
                            }

                        }

                        button {
                            height: 50px;
                            width: 50px;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            color: white;
                        }
                    }
                }

            }

            .hideList {
                transform: translateX(-100%);

            }



        }

    }
}